@import "mixins";
//colors
$black: #000;
$black_65: rgba(0,0,0,0.65);
$red: red;

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
}
.Xgrid {
	width: 100%;
	&:after {
		content: '';
		display: block;
		clear: both;
		height: 0;
		overflow: hidden;
	}
	.Xgrid-wrapper {
		width: 100%;
		float: left;
		position: relative;
	}
	.Xgrid-thead-wrapper {
		width: 100%;
		float: left;
		position: relative;
		margin: 0 0 -1px;
		&:after {
			content: '';
			display: block;
			clear: both;
			height: 0;
			overflow: hidden;
		}
	}
	.Xgrid-thead {
		margin: 0 0 -2px !important;
		float: left;
		border: 0;
		width: 100%;
		table-layout: fixed;
		thead {
			border: 0;
		}
	}
	.Xgrid-thead-label {
		position: relative;
		@include noselect;
		&.sortable {
			cursor: pointer;
		}
		> div {
			position: relative;
		}
	}
	.Xgrid-WidthListener-wrapper {
		width: 100%;
		overflow: hidden;
		position: relative;
		height: 0;
	}
	.Xgrid-WidthListener {
		position: absolute;
		left: 0;
		top: -1px;
		width: 100%;
		overflow: hidden;
		border: 0;
		height: 0;
	}
	.Xgrid-tbody-w {
		td {
			padding: 0 !important;
			border: 0 !important;
			font-size: 0 !important;
			line-height: 0 !important;
			height: 0 !important;
		}
		i {
			display: block;
			width: 100%;
			overflow: hidden;
			border: 0;
			height: 0;
		}
	}
	
	.Xgrid-paggination {
		margin: 20px 0 0;
		.input-group-addon {
			width: auto;
		}
		.input-group-btn {
			width: auto;
		}
	}
	.Xgrid-current-page {
		width: 50px !important;
	}
	.Xgrid-total-pages {
		min-width: 40px;
		display: inline-block;
	}
	.Xgrid-loading .Xgrid-wrapper:after {
		content: '';
		position: absolute;
		background: $black;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		opacity: 0.1;
	}
	.Xgrid-thead-label[data-sort]:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	.Xgrid-thead-label[data-sort="ASC"]:before {
		background: linear-gradient(to bottom, $black_65 0,rgba(0,0,0,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
	}
	.Xgrid-thead-label[data-sort="DESC"]:before {
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0,$black_65 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
	}
	.Xgrid-thead-w td {
		border-image-width: 0 !important;
		padding: 0 !important;
		border-style: none;
		border: 0 !important;
		font-size: 0 !important;
		line-height: 0 !important;
		height: 0 !important;
		background: $red;
		overflow: hidden;
	}
	.Xgrid-filter-cell {
		padding: 0;
		background: #f5f5f5;
		vertical-align: top;
	}
	.Xgrid-filter-wrapper {
		width: 100%;
		float: left;
		background: #fff;
	}
	.Xgrid-filter-btns {
		float: right;
	}
	.Xgrid-filter-control-wrap {
		overflow: hidden;
	}
	.Xgrid-filter {
		width: 100%;
		border:0;
		display: block;
	}
	.Xgrid-select,
	.Xgrid-input {
		outline: none;
		padding: 2px 4px;
		height: 24px;
		font: 14px/16px arial;
		&:focus{
			outline: none !important;
			min-height: 100%;
		}
	}
	.Xgrid-filter-btns {
		.Xgrid-btn {
			float: left;
			padding: 2px;
			line-height: 20px;
			font-size: 12px;
			height: 24px;
			width: 24px;
			background: #f5f5f5;
			cursor: pointer;
			text-align: center;
			&:hover{
				background: #ccc;
				color:#fff;
			}
		}
	}
	
	.Xgrid-tbody-wrapper {
		max-height: 300px;
		overflow-x: hidden;
		overflow-y: auto;
		clear: both;
		border-bottom:1px solid #ddd;
		&:after {
			content: '';
			display: block;
			clear: both;
			height: 0;
			overflow: hidden;
		}
	}
	.Xgrid-tbody {
		float: left;
		margin: 0 -100% 0 0;
		width: 100%;
		table-layout: fixed;
		vertical-align: top;
		tbody {
			& > tr:nth-of-type(odd){
				background: #f9f9f9;
			}
			td {
				vertical-align: top;
				padding: 6px 8px;
				line-height: 18px;
				border-left:1px solid #ddd;
				border-right:1px solid #ddd;
				border-bottom:1px solid #ddd;
				&.odd {
					background: rgba(0,0,0,0.015)
				}
			}
			tr:last-child >{
				td {
					border-bottom: 0;
				}
			}
		}
	}
}

